<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="~/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    @model Survey
    <form action="process" method="post">
        <div class="divs">
            <Label asp-for="Name"></Label>    
            <input asp-for="Name"/>
            <span asp-validation-for="Name"></span>
        </div>
        <div class="divs">
            <Label asp-for="Location"></Label>
            <select asp-for="Location">
                <option>San Jose</option>
                <option>Dallas</option>
                <option>Fort Worth</option>
            </select>
            <span asp-validation-for="Location"></span>
        </div>
        <div class="divs">
            <Label asp-for="Language"></Label>
            <select asp-for="Language">
                <option>C#</option>
                <option>Python</option>
                <option>MERN</option>
            </select>
            <span asp-validation-for="Language"></span>
        </div>
        <div class="divs">
            <Label asp-for="Comment"></Label>
            <input asp-for="Comment">
            <span asp-validation-for="Comment"></span>
        </div>
        <button type="submit" class="button">Submit</button>
    </form>
</body>
</html>