@{
    ViewData["Title"] = "Home Page";
}

@model List<Dish>
<div>
    <div>
        @await Html.PartialAsync("_Navbar")
    </div>
    <div>
        <h2>Yum! Check out our tasty dishes!</h2>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Chef</th>
                    <th>Tastiness</th>
                    <th>Calories</th>
                </tr>
            </thead>
            <tbody>
                @foreach(Dish d in Model)
                {
                    <tr>
                        <td>@d.Name</td>
                        <td>@d.Chef.Name</td>
                        <td>@d.Tastiness</td>
                        <td>@d.Calories</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>