@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div>
        <p>Welcome @Context.Session.GetString("User")</p>
        <form asp-action="clear" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
    <div>
        <h1>@Context.Session.GetInt32("Num")</h1>
        <div>
            <div>
                <form asp-action="function" method="post">
                    <button type="submit">+1</button>
                    <input type="hidden" name="buttonType" value="Plus">
                </form>
                <form asp-action="function" method="post">
                    <button type="submit">-1</button>
                    <input type="hidden" name="buttonType" value="Minus">
                </form>
            </div>
            <div>
                <form asp-action="function" method="post">
                    <button type="submit">*2</button>
                    <input type="hidden" name="buttonType" value="Times">
                </form>
                <form asp-action="function" method="post">
                    <button type="submit">+ Random</button>
                    <input type="hidden" name="buttonType" value="Random">
                </form>
            </div>
        </div>
    </div>
</div>