@model LoginUser

<form asp-action="LoginUser" method="post">
    <div>
        <label for="">Email</label>
        <input type="text" asp-for="LEmail">
        <span asp-validation-for="LEmail"></span>
    </div>
    <div>
        <label for="">Password</label>
        <input type="text" asp-for="LPassword">
        <span asp-validation-for="LPassword"></span>
    </div>
    <button type="submit">Log In</button>
</form>